/* スライド表示 */
#header-title {
    background-color: black;
    color: white;
    font-size: 70px;
    text-align: center;
    padding: 20px; /* パディングを追加して余白を設定 */
    margin-bottom: 20px; /* 余白を設定 */
}

#header-version {
    color: darkgrey;
    font-size: 30px;
}

.slides {
    position: relative;
    height: 100px;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 50%; /* Bootstrapと連携して中央揃え */
    transform: translateX(-50%); /* 中央に配置 */
    white-space: nowrap;
    animation: slideText 5s forwards;
}

@keyframes slideText {
    0% {
        opacity: 0;
        transform: translateX(-300%);
    }
    25% {
        opacity: 1;
        transform: translateX(0%);
    }
    75% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* 全体のスタイル */
body {
    font-family: Arial, sans-serif;
    background-image: url('img/white_00039.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    animation: fadeIn 5s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#date-form, #title-form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 60px;
    font-size: 35px;
    animation: fadeIn 5s ease forwards;
}

#date-form label, #title-form label {
    display: block;
    margin-bottom: 10px; /* ラベルの下に余白を追加 */
}

.date-input-fields {
    display: none;
}

/* 入力欄とボタン */
input[type="date"], input[type="text"]{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    letter-spacing: 1px; /* 文字間隔を通常に */
    flex: 1;
    max-width: 100%; /* 入力フィールドを親の幅に合わせる */
    margin-bottom: 15px; /* フィールド間の余白を追加 */
}

button, #reset-button, #add-task-button, #add-bug-button {
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}

button:hover, #reset-button:hover, #add-task-button:hover, #add-bug-button:hover {
    background-color: #45a049;
}

#reset-button {
    background-color: rebeccapurple;
    margin-right: 10px;
}

#display-dates {
    margin: 0 auto;
    font-size: 30px;
    margin-top: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* リスト */
.list {
    text-align: center;
    color: black;
    font-size: 20px;
    border: 1px solid black;
    list-style-type: none;
    font-weight: bold;
    padding: 10px; /* リスト項目に余白を追加 */
}

.list-title, #kikaku-title {
    font-size: 50px;
    text-align: center;
}

/* ページ全体の高さを100%に */
html, body {
    height: 100%;
}

/* コンテンツ全体を中央に配置するためのカスタムスタイル */
.full-height {
    height: 100vh;
}

/* カレンダーやリストアイテムの中央揃え */
.container, .row {
    text-align: center;
}

.list-div {
    margin: 15px
}
