/* スライド表示 */
#headerTitle {
    background-color:black;
    color: white;
    font-size: 70px;
    text-align: center;
  }
  
  #headerVersion {
    color: darkgrey;
    font-size: 30px;
  }
  
  .slides {
    position: relative;
    height: 100px; /* スライド表示領域の高さを設定 */
    overflow: hidden; /* オーバーフローを隠す */
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 20%; /* スライド表示領域の中央に配置 */
    white-space: nowrap; /* テキストが折り返されないようにする */
    animation: slideText 5s forwards; /* アニメーションを適用 */
  }
  
  @keyframes slideText {
    0% {
      opacity: 0; /* 要素を非表示に */
      transform: translateX(-300%); /* スライド開始位置を設定 */
    }
    25% {
      opacity: 1; /* 要素を表示に */
      transform: translateX(0%); /* スライド終了位置を設定 */
    }
    75% {
      transform: translateX(0%); /* スライド終了位置を保持 */
    }
    100% {
      transform: translateX(0%); /* スライド終了位置を設定 */
    }
  }
  
  /* 全体のスタイル */
  body {
    font-family: Arial, sans-serif;
    background-image: url('img/white_00039.jpg'); /* 画像のURLを指定 */
    background-size: cover; /* 画像をウィンドウ全体に表示 */
    background-repeat: no-repeat; /* 画像を繰り返し表示しない */
    padding: 20px;
  }
  
  /* 入力フォーム */
  .dateForm, #taskForm , #titleForm {
    text-align: center; /* タスクの表示を中央に配置する */
    width: 80%; /* 入力欄の幅を広くする */
    margin: 0 auto; /* 全体を中央に配置する */
    opacity: 0; /* 初期状態では非表示にする */
    animation: fadeIn 5s ease forwards; /* じわじわ表示させるアニメーションを追加 */
    display: flex; /* Flexbox を使用する */
    justify-content: center; /* 要素を中央に配置する */
    align-items: center; /* 要素を中央に配置する */
    padding: 50px; /* 入力欄の余白を追加 */
  }

  #dateForm {
    width: 80%; /* 入力フォームの幅を広くする */
    margin: 0 auto; /* 入力フォームを中央に配置する */
    text-align: center; /* 入力欄のテキストを中央に配置する */
    padding: 60px; /* 入力欄の余白を追加 */
    font-size: 35px; /* フォントサイズを変更 */
    animation: fadeIn 5s ease forwards; /* じわじわ表示させるアニメーションを追加 */
  }

  #dateForm label {
    display: block; /* ラベルをブロック要素として配置し、改行する */
  }
  
  .dateInputFields {
    display: none; /* 入力フィールドを非表示にする */
  }
  
  /* 入力欄とボタン */
  input[type="date"], #taskInput, #titleInput {
    text-align: center; /* タスクの表示を中央に配置する */
    padding: 10px; /* 入力欄の余白を追加 */
    font-size: 20px; /* フォントサイズを変更 */
    border: 1px solid #ccc;
    border-radius: 4px;
    letter-spacing: 10px; /* 文字間の間隔を1ピクセルに設定 */
    flex: 1; /* 入力欄が残りのスペースを占めるようにする */
  }
  
  button, #resetButton, #addButton {
    padding: 10px; /* ボタンの余白を追加 */
    font-size: 20px; /* フォントサイズを変更 */
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* ボタンと入力欄の間のスペース */
  }
  
  button:hover, #resetButton:hover, #addButton:hover {
    background-color: #45a049;
  }
  
  #resetButton {
    background-color: rebeccapurple;
    margin-right: 10px; /* リセットボタンと表示ボタンの間のスペース */
  }
  
  #displayDate {
    margin: 0 auto; /* 全体を中央に配置する */
    font-size: 30px;
    margin-top: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; /* 非表示から始める */
    }
    to {
      opacity: 1; /* 完全に表示する */
    }
  }
  
  #taskList {
    text-align: center; /* タスクの表示を中央に配置する */
    color: black; /* テキストの色を白に設定 */
    font-size: 20px; /* フォントサイズを20pxに設定 */
    border: 1px solid black; /* 枠を白に設定 */
    list-style-type: none; /* マーカー（点）を削除 */
    font-weight: bold; /* フォントを太くする */
  }

  #taskTitle ,#kikakuTitle {
    font-size: 50px;
    text-align:center;
  }